<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>liuzikai.swap-around-symbols</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>93928230-1A50-4A7C-8A88-FCC205F9BCD4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7DFDFFE-F202-4AC9-B56D-4003E78FFB05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C4FAC5D-CAC2-4882-9D49-B5E13E4A7FCF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93928230-1A50-4A7C-8A88-FCC205F9BCD4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F7DFDFFE-F202-4AC9-B56D-4003E78FFB05</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6CC3A417-8306-4465-B870-AE5E31FDFC14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2D2CF4B4-3193-43F6-A0AF-732224AC9E99</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C3F5D611-63F6-447E-9173-318EDFFAE49D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Zikai Liu</string>
	<key>description</key>
	<string>Quickly swap the two sides around symbols (= + - * / , etc.)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Swap Around Symbols</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Swap Around Symbols</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6CC3A417-8306-4465-B870-AE5E31FDFC14</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>1441792</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9C4FAC5D-CAC2-4882-9D49-B5E13E4A7FCF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 ./auto_swap.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>auto_swap.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>93928230-1A50-4A7C-8A88-FCC205F9BCD4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>Error: .*</string>
						<key>outputlabel</key>
						<string>error</string>
						<key>uid</key>
						<string>2D2CF4B4-3193-43F6-A0AF-732224AC9E99</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F7DFDFFE-F202-4AC9-B56D-4003E78FFB05</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C3F5D611-63F6-447E-9173-318EDFFAE49D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>6CC3A417-8306-4465-B870-AE5E31FDFC14</key>
		<dict>
			<key>xpos</key>
			<integer>615</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>93928230-1A50-4A7C-8A88-FCC205F9BCD4</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>9C4FAC5D-CAC2-4882-9D49-B5E13E4A7FCF</key>
		<dict>
			<key>xpos</key>
			<integer>140</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>C3F5D611-63F6-447E-9173-318EDFFAE49D</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>F7DFDFFE-F202-4AC9-B56D-4003E78FFB05</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>github.com/liuzikai/alfred-swap-around-symbols</string>
</dict>
</plist>
